/* Overall/General */

html {
  box-sizing: border-box;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

header,
footer,
main {
  min-width: inherit;
  font-family: 'Lobster', cursive;
  font-family: 'Raleway', sans-serif;
}

.grid-container {
  display: grid;
}

body {
  background-image: url("../img/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Header */

.gold_bar {
  background-image: url("../img/gold bar.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* position: absolute; */
  /* background-color: #f2dba5; */
  left: 0px;
  top: -1px;
  min-width: 100%;
  min-height: 100%;
  line-height: 40px;
  /* max-height: 39px; */
  z-index: 26;
  margin-bottom: 0 !important;
  display: inline-block !important;
}

.search {
  border-bottom: none !important;
}

/* [] Fix focus color underline */

/* .search:focus {
  border-bottom: none !important;
  -webkit-box-shadow: 0 1px 0 0 #ffe39f;
  -moz-box-shadow: 0 1px 0 0 #ffe39f;
  box-shadow: 0 1px 0 0 #ffe39f;
} */

.searchBtn {
  background-color: #ffe39f;
  border-color: #ffe39f;

}

.rug_banner {
  background-image: url("../img/Header\ -\ mid.png");
  width: 100% !important;
  margin: auto !important;

}

label {
  height: inherit !important;
  line-height: inherit !important;
}

#social {
  height: 100%;
  width: 100%;  
}

/* #customerStuff {
  height: 100%;
  width: 100%;  
} */


nav.search {
  margin: 0;
  max-height: 36px !important; 
}

.dropdown-content {
  width: max-content !important;
  height: auto !important;
}

svg.svg-inline--fa {
  line-height: 100%;
  min-height: 100%;
  padding-left: 5px;
}

nav {
  box-shadow: none;
  background: none !important;
}

nav ul a {
  color: black !important;
}

.callnow {
  line-height: 64px;
}

.drop-menu-text {
  color: black !important;
  margin: 0 !important;
}

.banner {
  background: url('../img/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* position: absolute; */
  left: 0px;
  top: 0px;
  /* width: 100%; */
  height: 100%;
  z-index: 23;
}

/* Footer */

/* footer {
  background-color: black !important;
  background-image: url("../img/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
} */

.footer_background {
  /* display: grid; */
  height: 1106px;
  width: 100%;  

  background-image: url("../img/footer.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: inline-block !important;

  /* .Layer_39_copy_2 {
    background-image: url("Layer 39 copy 2.png");
    position: absolute;
    left: 0px;
    top: 2377px;
    width: 1894px;
    height: 956px;
    z-index: 3;
  }
   */
}

  /* Contact Us Section */

  /* .contact_us {
    background-image: url("../img/Layer 39 copy 2.png");
    position: absolute;
    left: 0px;
    top: 2377px;
    width: 1894px;
    height: 956px;
    z-index: 3;
  }   */

/* Gallery */

.gallery {
  min-width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: dense;
  padding: 10px 0;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: 260px;
}

.block-1 {
  grid-row-start: span 2;
  grid-column-start: span 4;
  align-self: stretch;
  justify-self: stretch;
}

.block-12 {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.block-16 {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.block-21 {
  grid-column-start: span 2;
  grid-row-start: span 3;
}

header,
footer,
main {
  min-width: inherit;
}

.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  margin: 0;
}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.item video {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

/* Overlay */

.item__overlay {
  background: #0c552b32;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}

.overlay__content {
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
  margin: 0.5rem;
  font-size: 1.5rem;
}

.item__overlay button {
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  background: rgba(34, 18, 18, 0.7);
  padding: 5px;
  font-size: 1rem;
}

.item:hover .item__overlay {
  transform: translateY(0);
}

/* Media Queries */

@media (max-width: 1300px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    padding: 5px 0;
    grid-gap: 5px;
  }
  .block-1 {
    grid-row-start: span 2;
    grid-column-start: span 3;
  }
  .overlay__content {
    margin: .3rem;
    font-size: 1rem;
    grid-gap: .3rem;
  }
}

@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
  }
  .block-1 {
    grid-row-start: span 2;
    grid-column-start: span 4;
  }
}

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    padding: 5px 0;
    grid-gap: 5px;
  }
  .block-1 {
    grid-row-start: span 2;
    grid-column-start: span 3;
  }
  .overlay__content {
    margin: .3rem;
    font-size: 1rem;
    grid-gap: .3rem;
  }
}
@media (max-width: 500px) {
  .gallery {
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    padding: 5px 0;
  }
  .block-1 {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  .brand-logo {
    font-size: 22px !important;
  }
  .overlay__content {
    margin: .1rem;
    font-size: .84rem;
  }
}
@media (max-width: 360px) {
  .brand-logo {
    font-size: 18px !important;
  }
}
