/* Overall/General */

html {
  box-sizing: border-box;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

header,
footer,
main {
  min-width: inherit;
}

.grid-container {
  display: grid;
}

/* Gallery */

.gallery {
  min-width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: dense;
  padding: 10px 0;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: 260px;
}

.block-1 {
  grid-row-start: span 2;
  grid-column-start: span 4;
}

.block-12 {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.block-16 {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.block-21 {
  grid-column-start: span 2;
  grid-row-start: span 3;
}

.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  margin: 0;
}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

/* Overlay */

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  background: white;
  width: 700px;
  padding: 20px;
}

.overlay img {
  width: 100%;
}

.item__overlay {
  background: #0c552b32;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}

.item__overlay button {
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  background: rgba(34, 18, 18, 0.7);
  padding: 5px;
}

.item:hover .item__overlay {
  transform: translateY(0);
}

.overlay__content {
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
}

.close {
  background: none;
  color: black;
  border: 0;
}

/* Media Queries */

@media (max-width: 1300px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    padding: 5px 0;
    grid-gap: 5px;
  }
  .block-1 {
    grid-row-start: span 2;
    grid-column-start: span 3;
  }
  .overlay__content {
    margin: .3rem;
    font-size: 1rem;
    grid-gap: .3rem;
  }
}

@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
  }
  .block-1 {
    grid-row-start: span 2;
    grid-column-start: span 4;
  }
}

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    padding: 5px 0;
    grid-gap: 5px;
  }
  .block-1 {
    grid-row-start: span 2;
    grid-column-start: span 3;
  }
  .overlay__content {
    margin: .3rem;
    font-size: 1rem;
    grid-gap: .3rem;
  }
}
@media (max-width: 500px) {
  .gallery {
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    padding: 5px 0;
  }
  .block-1 {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  .brand-logo {
    font-size: 22px !important;
  }
  .overlay__content {
    margin: .1rem;
    font-size: .84rem;
  }
}
@media (max-width: 360px) {
  .brand-logo {
    font-size: 18px !important;
  }
}